body{
    margin: 0;
    background-color: black;
}
.hero{
    background-color: #074f57;
    background-image: url(/imagenes/Miscelanea/fondoFundido2.jpg);
    height: 1500px;
    color: bisque;
    background-size: cover;
    background-position: top;
    
}
.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;    
}

#logo{
    width: 100px;
    margin-top: 100px;
    margin-left: 100px;
    background-size: cover;
    
}

#mainKey{
    width: 1500px;
    display: inline-block;
}
.container{
    text-align: center;
}

ul{
    list-style-type: none;
}

li a{
    list-style-type: none;
    color: white;
    text-decoration: none;    
}

.mainKey-carac{
    background-color: black; 
}
.mainKey-carac h1{
    color:#32877c
}

.footerBorder{
    border-top: solid;
    border-top: 2px  transparent; /* Borde superior transparente */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.322), rgba(0, 119, 255, 0));
}

.social-media-icons img{
    width: 25px;
    padding: 10px;
}